.header-nav {
  @media #{$md} {
    order: 4;
    max-height: 0px;
    width: 100%;
    margin-bottom: 0px;

    overflow: hidden;
    text-align: center;
  }
  ul {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    width: 100%;
    @media #{$md} {
      height: initial;
      margin-bottom: 50px;
    }
    li {
      position: relative;
      display: flex;
      height: 100%;
      display: inline-block;
      font-size: 0;
      margin: 0 10px;
      @include trans;
      @media #{$md} {
        width: 100%;
        display: block;
        height: initial;
        transform: translate(0, 100px);
        opacity: 0;
      }
      a {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        color: $light-black;
        padding: 5px 20px;
        display: inline-block;
        @include trans;
        @media #{$md} {
          padding: 20px;
          font-size: 25px !important;
        }
        @media #{$lg} {
          font-size: 18px !important;
          padding: 15px 10px;
        }
        &::after {
          content: "";
          position: absolute;
          width: 0px;
          height: 2px;
          left: 50%;
          bottom: 0;
          background-color: $main;
          transition: all ease-in-out 0.2s;
        }
        &:hover {
          border: none;
          color: $black;
          text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
    .liVisible {
      @media #{$md} {
        transform: translate(0, 0px);
        opacity: 1;
      }
    }
    .current_page_item {
      a {
        color: $black !important;
        text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
        &::after {
          content: "";
          width: 100%;
          height: 2px;
          left: 0;
        }
      }
    }
    .menu-item-has-children {
      &:before,
      &:after {
        content: "";
        position: absolute;
        z-index: 3;
        width: 6px;
        height: 1px;
        background: #797979;
        transition: all ease-in-out 0.2s;
        @media #{$md} {
          display: none;
        }
      }
      &:before {
        right: 2px;
        top: 50%;
        transform: translate(0, -50%) rotate(-45deg);
      }
      &:after {
        right: 6px;
        top: 50%;
        transform: translate(0, -50%) rotate(45deg);
      }
      &:hover {
        &:after,
        &:before {
          transform: translate(0, -50%) rotate(0deg);
          background-color: $main;
        }
      }
    }
    .sub-menu {
      position: absolute;
      z-index: 2;
      max-width: 240px;
      min-width: 200px;
      height: 0;
      opacity: 0;
      box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      border-bottom: 5px solid $main;
      background-color: #fff;
      transform: translate(0, 50px);
      padding: 10px;
      transition: transform 0.2s ease-in-out;
      @media #{$md} {
        // position: relative;
        // height: auto !important;
        // opacity: 1 !important;
        // transform: translate(0, 0px) !important;
        // transition: transform 0.2s ease-in-out;
        // box-shadow: none;
        // border: none;
        // text-align: center;
        // width: 100%;
        display: none;
      }
      li {
        width: 100%;
        a {
          font-size: 14px;
          padding: 8px 15px;
          display: block;
          // &:after {
          //   display: none;
          // }
        }
      }
    }
    li:hover a + .sub-menu {
      // display: block !important;
      height: auto !important;
      opacity: 1 !important;
      transform: translate(0, 0px) !important;
      transition: transform 0.2s ease-in-out;
      @media #{$md} {
        transform: translate(0, 0) !important;
      }
    }
  }
}

// js
.header-nav-active {
  max-height: 80vh;
  transition: all 1s;
  @media #{$md} {
    // background: red;
  }
}

// lang
.lang-swicher {
  padding: 20px;
  @media #{$md} {
    order: 2;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    li {
      a {
        color: $light-black;
        padding: 5px 0 0 5px;
        &:hover {
          text-shadow: 0 0 0.9px #333, 0 0 0.9px #333;
        }
        &:after {
          content: "/";
          margin-left: 5px;
          font-weight: 400;
        }
      }
      &:last-child {
        a {
          &:after {
            display: none;
          }
        }
      }
    }
    li.active {
      a {
        text-shadow: 0 0 1px #333, 0 0 1px #333;
      }
    }
  }
}
