#header {
  background-color: #fff;
  border-bottom: 10px solid darken($light, 5%);
  position: relative;
  z-index: 999;
  transition: all 1s;
  padding-top: 5px;
  .header-nav-wraper {
    display: flex;
    justify-content: space-between;
    @media #{$md} {
      flex-wrap: wrap;
    }
  }
}
.header-active {
  border-bottom: 10px solid darken($main, 5%) !important;
}
.header-sticky {
  border-bottom: 1px solid darken($main, 5%) !important;
  position: fixed !important;
  top: 0px;
  width: 100%;
}
