#footer {
  margin-top: 50px;
  overflow: hidden;
}

#contact-footer {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
  .row {
    @media #{$md} {
      flex-wrap: wrap;
    }
    .col {
      @media #{$md} {
        width: 100%;
      }
    }
  }
  .contact__info {
    position: relative;
  }
  .contact___header {
    position: relative;
    width: calc(100% - 30%);
    left: 25%;
    padding-bottom: 5%;
    @media #{$md} {
      width: calc(100% - 20%);
      left: 15%;
    }
    p {
      font-size: 2.9vw;
      line-height: 3vw;
      font-weight: 900;
      text-align: left;
      margin: 0;
      padding: 0;
      @media #{$md} {
        font-size: 31px;
        line-height: 36px;
      }
    }
  }
  .contact___detail {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      background: url(../img/bg-gold-footer.jpg) no-repeat center;
      background-size: cover;
      width: calc(100% - 15%);
      height: 100%;
      bottom: 0;
    }
    .wraper {
      position: relative;
      z-index: 3;
      left: 15%;
      top: 0px;
      bottom: -50px;
      width: calc(100% - 15%);
      transform: translate(0px, 50px);
      @media #{$md} {
        left: 8%;
      }
      .contact-wraper {
        background-color: #e4c491;
        padding: 20px;
        min-height: 150px;
      }
    }
  }
  .contact__form {
    width: calc(50% - 15%);
    margin-left: 7.5%;
    @media #{$md} {
      margin-left: 0;
    }
    .wraper {
      padding: 80px 30px;
      // width: calc(100% - 15%);
    }
  }
}

// label contact stickier
#contact-label {
  position: fixed;
  z-index: 3;
  bottom: 15px;
  right: 15px;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  width: 167px;
  height: 176px;
  transform: scale(0);
  @include trans;
  cursor: pointer;
  @media #{$md} {
    width: 96px;
    height: 96px;
  }
  .bg {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .inf {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-57%, -75%);
    color: #fff;
    @media #{$md} {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
#contact-label.active {
  transform: scale(1);
}

.m-contact {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: -100%;
  right: 0px;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  transform: scale(0);
  transition: background ease-in-out 0.5s;
  .m-wraper-contact {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    margin: 0 auto;
    top: 130px;
    padding: 20px;
    .box {
      background-color: #fff;
      width: 760px;
      max-width: 100%;
      text-align: center;
      padding: 30px;
      margin: 0 auto;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      position: relative;
      .close-m {
        position: absolute;
        top: 0px;
        right: 10px;
        color: red;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          color: $main-tir;
        }
      }
    }
  }
}
.m-contact.active {
  opacity: 1;
  top: 0px;
  transform: scale(1);

  background: rgba($main, 0.665);
  .box {
  }
}

.m-active {
  filter: blur(3px);
}
#go-to-top {
  position: fixed;
  z-index: 999;
  right: 0px;
  top: 50%;
  transform: translate(110px, -50%);
  border: 1px solid $main;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  @include trans;
  &:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid $main;
    cursor: pointer;
    transition: all 1s;
  }
  span {
    position: absolute;
    bottom: -15px;
    left: 3px;
    font-size: 12px;
    text-transform: uppercase;
    color: $main;
    letter-spacing: -1px;
  }
  &:hover {
    span {
      color: $black;
    }
  }
  &:focus {
    opacity: 0.3;
  }
}
.go-to-to-active {
  // bottom: 200px !important;
  transform: translate(-10px, -50%) !important;
}
