.footer-nav {
  #footer-nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @media #{$sm} {
      text-align: center;
      justify-content: center;
    }
    li {
      @media #{$sm} {
        display: block;
        width: 100%;
      }
      a {
        font-size: 14px;
        font-weight: 700;
        margin: 10px 5px;
        color: #fff;
        @media #{$sm} {
          display: block;
        }
        &:hover {
          color: $main;
        }
      }
    }
  }
}
