#footer {
  margin-top: 50px;
  overflow: hidden;
}

#contact-footer {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
  .row {
    @media #{$md} {
      flex-wrap: wrap;
    }
    .col {
      @media #{$md} {
        width: 100%;
      }
    }
  }
  .contact__info {
    position: relative;
  }
  .contact___header {
    position: relative;
    width: calc(100% - 30%);
    left: 25%;
    padding-bottom: 5%;
    @media #{$md} {
      width: calc(100% - 20%);
      left: 15%;
    }
    p {
      font-size: 2.9vw;
      line-height: 3vw;
      font-weight: 900;
      text-align: left;
      margin: 0;
      padding: 0;
      @media #{$md} {
        font-size: 31px;
        line-height: 36px;
      }
    }
  }
  .contact___detail {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      background: url(../img/bg-gold-footer.jpg) no-repeat center;
      background-size: cover;
      width: calc(100% - 15%);
      height: 100%;
      bottom: 0;
    }
    .wraper {
      position: relative;
      z-index: 3;
      left: 15%;
      top: 0px;
      bottom: -50px;
      width: calc(100% - 15%);
      transform: translate(0px, 50px);
      @media #{$md} {
        left: 8%;
      }
      .contact-wraper {
        background-color: #e4c491;
        padding: 20px;
        min-height: 150px;
      }
    }
  }
  .contact__form {
    width: calc(50% - 15%);
    margin-left: 7.5%;
    @media #{$md} {
      margin-left: 0;
    }
    .wraper {
      padding: 80px 30px;
      // width: calc(100% - 15%);
    }
  }
}
