.ra-hero {
  width: calc(100vw - 8px);
  margin-left: -50vw;
  left: 50%;
  position: relative;
  padding: 150px 0;
}

@media only screen and (max-width: 998px) {
  .ra-hero {
    padding: 100px 0;
  }
}

#ra-hero-carusel {
  position: relative;
}

#ra-hero-carusel .text {
  width: 60%;
}

@media only screen and (max-width: 998px) {
  #ra-hero-carusel .text {
    width: 100%;
  }
}

#ra-hero-carusel .text .copy {
  margin-left: 75px;
  position: relative;
}

@media only screen and (max-width: 460px) {
  #ra-hero-carusel .text .copy {
    margin-left: 0px;
  }
}

#ra-hero-carusel .text .copy:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -75px;
  width: 0;
  height: 0;
  border-top: 27px solid transparent;
  border-left: 38px solid #efd6ae;
  border-bottom: 27px solid transparent;
}

#ra-hero-carusel .text .copy h1,
#ra-hero-carusel .text .copy h2 {
  font-size: 3.5vw;
  line-height: 3.5vw;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1400px) {
  #ra-hero-carusel .text .copy h1,
  #ra-hero-carusel .text .copy h2 {
    font-size: 44px;
    line-height: 46px;
  }
}

@media only screen and (max-width: 998px) {
  #ra-hero-carusel .text .copy h1,
  #ra-hero-carusel .text .copy h2 {
    font-size: 51px;
    line-height: 55px;
  }
}

@media only screen and (max-width: 768px) {
  #ra-hero-carusel .text .copy h1,
  #ra-hero-carusel .text .copy h2 {
    font-size: 41px;
    line-height: 44px;
  }
}

@media only screen and (max-width: 460px) {
  #ra-hero-carusel .text .copy h1,
  #ra-hero-carusel .text .copy h2 {
    font-size: 31px;
    line-height: 36px;
  }
}

#ra-hero-carusel .nav-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
}

#ra-hero-carusel .nav-slider .swiper-pagination {
  position: inherit;
  bottom: inherit;
  width: inherit;
  text-align: left;
  margin-left: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 460px) {
  #ra-hero-carusel .nav-slider .swiper-pagination {
    margin-left: 0px;
  }
}

#ra-hero-carusel .nav-slider .swiper-pagination * {
  font-size: 20px;
}

#ra-hero-carusel .nav-slider .swiper-pagination .swiper-pagination-total {
  color: #efd6ae;
}

#ra-hero-carusel .nav-slider .swiper-pagination .sep-b {
  width: 100px;
  height: 1px;
  border: 1px solid #d5d5d5;
  margin: 0 18px;
  display: block;
}

.triangles {
  position: absolute;
  z-index: -1;
  top: 80px;
  right: 0px;
  width: 51%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .triangles {
    top: 0px;
    width: 80%;
  }
}

.triangles svg {
  width: 100%;
}

.acf-block-preview .ra-hero {
  width: 100%;
  margin-left: 0;
  left: 0;
  position: relative;
  padding: 0px 0;
}

.acf-block-preview .ra-hero h1,
.acf-block-preview .ra-hero h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=hero.css.map */