.wrap-btn {
  padding: 20px 0px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  @include trans;
  color: $black;
  font-weight: 700;
  cursor: pointer;
}

.btn-main {
  background-color: $main;

  &:hover {
    background-color: $black;
    color: #fff;
  }
  &:focus {
    background-color: $black;
    color: #fff;
    opacity: 0.6;
  }
}

.btn-big {
  font-size: 20px;
  padding: 15px 25px;
}
.btn-main-arrow {
  position: relative;
  // padding: 15px 75px 15px 25px;
  padding-right: 85px;
  &:after {
    content: "";
    background: url(../img/long-arrow.svg);
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 22px;
    width: 33px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    @include trans;
  }
  &:hover {
    &:after {
      transform: translate(10px, -50%);
    }
  }
}

.btn-main.btn-main-arrow {
  &:hover,
  &:focus {
    &:after {
      background: url(../img/long-arrow-white.svg);
    }
  }
}
// btn nav
.btn-nav {
  a {
    background-color: $main-tir;
    color: #fff !important;
    padding: 15px 20px !important;
    &:after {
      display: none !important;
    }
    span {
      color: #fff !important;
    }
  }
}

.btn-nav {
  a {
    overflow: hidden;
    transition: all 0.3s ease;
    @media #{$md} {
      font-size: 16px !important;
    }
  }
  a:hover {
    background: #000;
    color: #fff;
  }
  a:before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 5s ease-in-out infinite;
  }
  a:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  }
}
@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
