html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  position: relative;
  z-index: -1;
}

.container-fluid {
  width: calc(100% - 15%);
  max-width: 1700px;
  margin: 0 auto;
  @media #{$xs} {
    width: calc(100% - 40px);
  }
}
.container {
  width: calc(100% - 15%);
  max-width: 1050px;
  margin: 0 auto;
  @media #{$xs} {
    width: calc(100% - 40px);
  }
}
.container-row {
  max-width: 1050px;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: flex-end;
  .col {
    width: 50%;
  }
  .col-full {
    width: 100%;
  }
}

.orn-right {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0px;
  width: 30%;
  max-width: 450px;
  height: 100%;
  overflow: hidden;
  svg {
    position: absolute;
    bottom: 0;
  }
}
