h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: $black;
}

a {
  color: $main;
  text-decoration: none;
  font-weight: 500;
}
p {
  margin-bottom: 30px;
  margin-top: 0;
}
p,
li {
  font-weight: 400;
  color: $light-black;
  font-size: 16px;
}
b {
  font-weight: 700;
  color: $black;
}

.text-center {
  text-align: center;
}

.color-main {
  color: $main;
}
.color-black {
  color: $black;
}

// post style
.single-post {
  .entry-content {
    img {
      margin-bottom: 20px;
      display: block;
      max-width: 100%;
      height: auto;
    }
    img.aligncenter {
      text-align: center;
      margin: 20px auto;
      display: block;
    }
    strong {
      color: $black;
    }
    h1 {
      font-size: 31px;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 24px;
      font-weight: 700;
    }
    h4 {
      font-size: 21px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 16px;
    }
  }
}

// table
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 100%;
  max-width: 100%;
  th,
  td {
    padding: 0.25em 0.5em;
    text-align: left;
    border: 1px solid $main;
    &:nth-child(2) {
      text-align: right;
    }
  }
  td {
    background-color: #eee;
  }
  th {
    background-color: #009;
    color: #fff;
  }
}
