// Query
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1200px)";
$xlg: "only screen and (max-width: 1400px)";
// Colors
$main: #00aa13;
$main-sec: #54565b;
$main-tir: #898b8d;
$light: #f4f4f4;
$black: #101820;
$light-black: #54565b;
