// Query
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1200px)";
$xlg: "only screen and (max-width: 1400px)";
// Colors
$main: #efd6ae;
$main-sec: #e3ba78;
$main-tir: #170573;
$light: #f4f4f4;
$black: #000;
$light-black: #707070;
