@import "../../src/css/sass/variable";
@import "../../src/css/sass/mixins";

.ra-case-study {
  // padding: 50px 0;
  @media #{$sm} {
    padding: 0px;
  }
  .ra-case-study-wraper {
    display: flex;
    flex-wrap: wrap;
    .cs-cart {
      width: 50%;
      @media #{$md} {
        width: 100%;
      }
    }
  }
}
