@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #101820;
}

a {
  color: #00aa13;
  text-decoration: none;
  font-weight: 500;
}

p,
li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #54565b;
}

b {
  font-weight: 500;
  color: #101820;
}

.text-center {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  padding-top: 1px;
}

.container-fluid {
  width: calc(100% - 30px);
  max-width: 1700px;
  margin: 0 auto;
}

#ornament-header {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 223.8px;
}

#go-to-top {
  position: fixed;
  z-index: 999;
  right: 10px;
  bottom: -110px;
  background-color: #00aa13;
  border-radius: 3px;
  padding: 10px;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#go-to-top:hover {
  opacity: 0.8;
}

#go-to-top:focus {
  opacity: 0.3;
}

.go-to-to-active {
  bottom: 10px !important;
}

#header {
  background-color: #fff;
  border-bottom: 10px solid #e7e7e7;
  position: relative;
  z-index: 999;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding-top: 5px;
}

#header .header-nav-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 998px) {
  #header .header-nav-wraper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header-active {
  border-bottom: 10px solid #009110 !important;
}

.header-sticky {
  border-bottom: 1px solid #009110 !important;
  position: fixed !important;
  top: 0px;
  width: 100%;
}

.nav-brand {
  padding: 10px 0;
}

@media only screen and (max-width: 460px) {
  .nav-brand {
    width: 50%;
  }
}

.nav-brand a {
  max-width: 300px;
  display: block;
}

.nav-brand a img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 998px) {
  .header-nav {
    max-height: 0px;
    width: 100%;
    margin-bottom: 0px;
    -webkit-transition: all 1s;
    transition: all 1s;
    overflow: hidden;
  }
}

.header-nav .header-nav-list {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media only screen and (max-width: 998px) {
  .header-nav .header-nav-list {
    height: initial;
  }
}

.header-nav .header-nav-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 998px) {
  .header-nav .header-nav-list li {
    width: 100%;
    display: block;
    height: initial;
  }
}

.header-nav .header-nav-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #101820;
}

@media only screen and (max-width: 1200px) {
  .header-nav .header-nav-list li a {
    font-size: 14px;
  }
}

.header-nav .header-nav-list li a span {
  margin: 10px 18px;
}

@media only screen and (max-width: 1200px) {
  .header-nav .header-nav-list li a span {
    margin: 10px 10px;
  }
}

.header-nav .header-nav-list .current-menu-item a {
  background-color: #00aa13;
  color: #fff;
}

.header-nav-active {
  max-height: 80vh;
}

.toggler-nav {
  width: 32px;
  height: 15px;
  padding: 15px;
  border: 1px solid #00aa13;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media only screen and (max-width: 998px) {
  .toggler-nav {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .toggler-nav {
    padding: 10px;
  }
}

.toggler-nav span {
  display: block;
  background-color: #00aa13;
  border-radius: 1px;
  width: 100%;
  height: 3px;
  margin-bottom: 3px;
}

.toggler-nav-active {
  background-color: #00aa13;
}

.toggler-nav-active span {
  background-color: #fff;
}

#footer {
  background-color: #54565b;
  padding-top: 50px;
}

#footer .row {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 768px) {
  #footer .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.brand {
  margin-bottom: 30px;
}

.brand img {
  max-width: 100%;
  height: auto;
}

.brand-desc * {
  color: #fff;
}

.footer-nav #footer-nav-list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .footer-nav #footer-nav-list {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .footer-nav #footer-nav-list li {
    display: block;
    width: 100%;
  }
}

.footer-nav #footer-nav-list li a {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 5px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .footer-nav #footer-nav-list li a {
    display: block;
  }
}

.footer-nav #footer-nav-list li a:hover {
  color: #00aa13;
}

#info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
  border-top: 1px solid #898b8d;
}

@media only screen and (max-width: 768px) {
  #info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#info .col p {
  font-size: 14px;
  margin: 0;
  color: #898b8d;
}

@media only screen and (max-width: 768px) {
  #info .col p {
    margin-bottom: 15px;
  }
}

main {
  overflow: hidden;
}

article .entry-header {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
  text-align: center;
  background-color: #f4f4f4;
}

article .entry-header .entry-title {
  margin: 0;
  padding: 50px 15px;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #101820;
}

article .entry-content {
  position: relative;
  z-index: 3;
}

#error {
  padding: 6rem 0;
}

#error h1 {
  font-size: 10rem;
  margin: 0;
}

.btn {
  border: 1px solid #00aa13;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-main {
  background-color: #00aa13;
  color: #fff;
}

.btn-main:hover {
  background-color: #00770d;
}

.btn-main:focus {
  background-color: #00a512;
}
/*# sourceMappingURL=main.css.map */