@import "../../src/css/sass/variable";
@import "../../src/css/sass/mixins";

.button-wraper {
  margin-bottom: 20px;
}

.ra-button.aligncenter {
  .button-wraper {
    text-align: center;
  }
}

.ra-button.alignright {
  .button-wraper {
    text-align: right;
  }
}
